# CODEOWNERS - assign default owners for repository areas

# Global owners

- @MoodyBones

# Web app owners

/web/ @MoodyBones

# Sanity Studio owners

/sanity-studio/ @MoodyBones

# CI and infra

.github/workflows/ @MoodyBones
