name: Web CI

on:
  pull_request:
    paths:
      - 'web/**'
      - 'package.json'
  push:
    branches: [ main ]
    paths:
      - 'web/**'
      - 'package.json'

jobs:
  build:
    name: Build and Lint web
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Lint web workspace
        run: npm --workspace=web run lint

      - name: Build web workspace
        run: npm --workspace=web run build
